<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vavisa.masafahdriver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".basic.BaseApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".tap_profile.wallet.BalanceOffers.BalanceOffersActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.PaymentResult"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.StartUpActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".verify.VerifyYourNumberActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShipmentDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tap_profile.wallet.WalletActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="54cc6074b05a01d36002627727aa0c29a5022a6c" />
    </application>


</manifest>